* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Smythe", system-ui, sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 168px;
    background: #303030;
    color: #faf9f6;
    width: 600px;
}

.header img {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    max-width: 600px; /* Limit to the original image width */
    object-fit: cover; /* Ensure the image covers the area without distortion */
}

.food-display {
    display: flex;
    align-items: center;
    height: 200px;
    width: 500px;
    border-bottom: 1px solid #8d99ae;
    margin-bottom: 15px;
}

.food-display .emoji {
    font-size: 40px;
    margin: 0 10px 0 0;
    padding-bottom: 20px;
}

.food-display .food-item {
    margin-left: 20px;
}

.food-display .add-item {
    border: 1px solid #333;
    border-radius: 50px;
    padding: 10px;
    margin-left: auto;
    margin-right: 20px;
    transition: 0.3s;
}

.food-display .add-item:hover {
    opacity: 0.65;
    background: #80ed99;
    border: none;
    color: #faf9f6;
}

/* ========== order modal popup ============== */
.order-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    display: none;
}

.order-modal-title {
    text-align: center;
}

.order-modal .food-list {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;
    width: 360px;
    margin-top: 20px;
}

.order-modal .food-list p.remove-el:hover {
    opacity: 0.7;
    cursor: pointer;
    text-decoration: line-through;
    color: #e63946;
}

.order-modal .food-list h2.price {
    justify-self: end;
}

.order-modal .total {
    display: flex;
    justify-content: space-between;
    border-top: solid 1px #333;
    padding-top: 20px;
   
}

.order-modal .btn {
    background: #16DB99;
    color: #faf9f6;
    width: 360px;
    height: 60px;
    font-size: 16px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    margin-top: 15px;
    border-radius: 10px;
    transition: 0.3s;
}

.order-modal .btn:hover {
    opacity: 0.7;
}

.show {
    display: block;
}

/* ===========  modal order section ============ */
.payment-modal {
    width: 500px;
    height: 500px;
    padding: 0;
    text-align: center;    
    background: #fff;    
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #757575;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 24px rgba(0, 0, 0, 0.2), 0 16px 32px rgba(0, 0, 0, 0.1);
    z-index: 1;
    display: none;
  }
  
  .payment-modal:hover {
    border: 2px solid skyblue;
  }

  .payment-modal h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    margin: 2em 1.875em;
  }
  
  .payment-modal form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625em;
  }
  
  .payment-modal form input {
    padding: 0.625em;
    width: 29.6875rem;
    height: 4.375rem;
    font-size: 1.2em;
    border: 1px solid #757575;
    border-radius: 5px;
  }
  
  .payment-modal form input:hover {
    background: #f5f5f5;
  }
  
  .payment-modal .btn {
      background: #16DB99;
      color: #faf9f6;
      width: 29.6875rem;
      height: 4.375rem;
      margin-bottom: 0.625ren;
      padding: 0.625em;
      font-size: 1rem;
      font-weight: bold;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      border: none;
      margin-top: 1rem;
      border-radius: 5px;
      transition: 0.3s;
  }
  
  .payment-modal .btn:hover {
    opacity: 0.7;
  }

  /* ===== Order complete section ===== */
  .order-complete {
    width: 500px;
    height: 220px;
    padding: 20px;
    color: #065F46;
    background: #ECFDF5;
    font-size: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 3px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  }

.fa-solid{
    color: #999;
}

.experience-rating {
    width: 500px;
    height: 120px;
    padding: 5px;
    color: #065F46;
    background: #ECFDF5;
    font-size: 1.2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;    
    border-radius: 3px;
}

.like-detail {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.like-class {
    font-size: 2rem;
    cursor: pointer;
    transition: color 0.2s, transform 0.2s;
}

.like-class:hover {
    transform: scale(1.1);
}

.like {
    color: #DC2626;
}

.txt-sm { font-size: 1.8rem; }
.txt-bold { font-weight: bold; }

/* ====== Mobile responsive ===== */
@media (max-width: 630px) {
    .food-display {
        flex-direction: column;
        align-items: center;        
        height: auto;
        width: 100%;
    }

    .food-display .emoji {
        margin: 5px 0 5px 0;
        padding-bottom: 0;
    }

    .food-display .food-item {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .food-display .add-item {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 10px;
        font-size: 0.6rem;        
    }

    .header {
        width: 420px;
        height: auto;        
        text-align: center;
    }

    .header img,
    .payment-modal,
    .order-complete {
        width: 400px;
    }

    .payment-modal form input,
    .payment-modal .btn {
        width: 368px;
      }
}