* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { font-size: 10px; }

body {
    width: 100vw;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Smythe", system-ui, sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 16.6rem;
    background: #303030;
    color: #faf9f6;
    width: 60rem;
}

.header img {
    width: 100%;
    height: auto;
    max-width: 60rem;
    object-fit: cover;
}

.food-display {
    display: flex;
    align-items: center;
    height: 20rem;
    width: 50rem;
    border-bottom: 1px solid #8d99ae;
    margin-bottom: 1.5rem;
}

.food-display .emoji {
    font-size: 6rem;
    margin: 0 1rem 0 0;
    padding-bottom: 2rem;
}

.food-display .food-item {
    margin-left: 2rem;
    font-size: 2rem;
}

.food-display .add-item {
    border: 1px solid #333;
    border-radius: 5rem;
    padding: 1rem;
    margin-left: auto;
    margin-right: 2rem;
    font-size: 2rem;
    transition: 0.3s;
}

.food-display .add-item:hover {
    opacity: 0.65;
    background: #80ed99;
    border: none;
    color: #faf9f6;
}

/* ========== order modal popup ============== */
.order-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    display: none;
    font-size: 2rem;
}

.order-modal-title {
    text-align: center;
}

.order-modal .food-list {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;
    width: 36rem;
    margin-top: 2rem;
}

.order-modal .food-list p.remove-el:hover {
    opacity: 0.7;
    cursor: pointer;
    text-decoration: line-through;
    color: #e63946;
}

.order-modal .food-list h2.price {
    justify-self: end;
}

.order-modal .total {
    display: flex;
    justify-content: space-between;
    border-top: solid 1px #333;
    padding-top: 2rem;
   
}

.order-modal .btn {
    background: #16DB99;
    color: #faf9f6;
    width: 36rem;
    height: 6rem;
    font-size: 1.6rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    margin-top: 1.5rem;
    border-radius: 1rem;
    transition: 0.3s;
}

.order-modal .btn:hover {
    opacity: 0.7;
}

.show {
    display: block;
}

/* ===========  modal order section ============ */
.payment-modal {
    width: 50rem;
    height: 50rem;
    padding: 0;
    font-size: 2rem;
    text-align: center;    
    background: #fff;    
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #757575;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: none;
  }
  
  .payment-modal:hover {
    border: 2px solid skyblue;
  }

  .payment-modal h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    margin: 2em 1.875em;
  }
  
  .payment-modal form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625em;
  }
  
  .payment-modal form input {
    padding: 0.625em;
    width: 47.5rem;
    height: 7rem;
    font-size: 1.2em;
    border: 1px solid #757575;
    border-radius: 5px;
  }
  
  .payment-modal form input:hover {
    background: #f5f5f5;
  }
  
  .payment-modal .btn {
      background: #16DB99;
      color: #faf9f6;
      width: 47.5rem;
      height: 7rem;
      margin-bottom: 1rem;
      padding: 1rem;
      font-size: 1.6rem;
      font-weight: bold;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      border: none;
      margin-top: 1.6rem;
      border-radius: 5px;
      transition: 0.3s;
  }
  
  .payment-modal .btn:hover {
    opacity: 0.7;
  }

  /* ===== Order complete section ===== */
  .order-complete {
    width: 50rem;
    height: 24rem;
    padding: 2rem;
    color: #065F46;
    background: #ECFDF5;
    font-size: 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    border-radius: 0.3rem;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  }

.fa-solid{
    color: #999;
}

.experience-rating {
    width: 50rem;
    height: 12rem;
    padding: 1rem;
    color: #065F46;
    background: #ECFDF5;
    font-size: 2.4rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;    
    border-radius: 0.3rem;
}

.like-detail {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.like-class {
    font-size: 3.2rem;
    cursor: pointer;
    transition: color 0.2s, transform 0.2s;
}

.like-class:hover {
    transform: scale(1.1);
}

.like {
    color: #DC2626;
    transform: scale(1.4)
}

.txt-sm { font-size: 2.8rem; }
.txt-bold { font-weight: bold; }

/* ====== Mobile responsive ===== */
@media (max-width: 630px) {
    .food-display {
        flex-direction: column;
        align-items: center;        
        height: auto;
        width: 100%;
    }

    .food-display .emoji {
        margin: 0.5rem 0 0.5rem 0;
        padding-bottom: 0;
    }

    .food-display .food-item {
        margin-left: 0;
        margin-bottom: 1rem;
    }

    .food-display .add-item {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 1rem;
        font-size: 1rem;        
    }

    .header {
        width: 4.2rem;
        height: auto;        
        text-align: center;
    }

    .food-list h2 {        
        font-size: 2.4rem;
    }

    .food-list p { font-size: 1.5rem; }

    .payment-modal form input,
    .payment-modal .btn {
        width: 36.8rem;
      }

    .payment-modal,
    .order-complete,
    .header img {
        width: 40rem;
        font-size: 2rem;
    }
}